// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portfolio-primary: mat.define-palette(mat.$indigo-palette, 500, 400, 600);
$Portfolio-accent: mat.define-palette(mat.$blue-palette, 500, 400, 600);

// The warn palette is optional (defaults to red).
$Portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$Portfolio-theme: mat.define-light-theme($Portfolio-primary, $Portfolio-accent, $Portfolio-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portfolio-theme);

// .mat-raised-button {
//     &.mat-button-focus-overlay {
//         background-color: transparent;
//     }
//     &:hover,
//     &:active,
//     &:focus {
//         //background-color: mat-color($Portfolio-primary, 300);
//         border-color: transparent;
//         border-width: 0px;
//     }
//     &.mat-primary {
//         color: white;
//         border-color: transparent;
//     }
//     &.mat-accent {
//         color: mat-color($Portfolio-accent);
//     }
// }

// Buttons
.mat-button {
    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: mat.get-color-from-palette($Portfolio-accent);
        background-color: transparent;
        border-color: mat.get-color-from-palette($Portfolio-accent);
        border-width: 0px;
    }
    &.mat-primary {
        border-color: transparent;
    }
    &.mat-accent {
        color: mat.get-color-from-palette($Portfolio-accent);
    }
}

::ng-deep .mat-button-toggle {
    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: mat.get-color-from-palette($Portfolio-accent);
        background-color: transparent;
        border-color: mat.get-color-from-palette($Portfolio-accent);
        border-width: 0px;
    }
    &.mat-primary {
        border-color: transparent;
    }
    &.mat-accent {
        color: mat.get-color-from-palette($Portfolio-accent);
    }
}

mat-button-toggle {
    background-color: red($color: #ff0000);
}

.mat-icon-button {
    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: mat.get-color-from-palette($Portfolio-accent);
        background-color: transparent;
        border-color: mat.get-color-from-palette($Portfolio-accent);
        border-width: 0px;
    }
    &.mat-primary {
        border-color: transparent;
    }
    &.mat-accent {
        color: mat.get-color-from-palette($Portfolio-accent);
    }
}

.mat-menu-item {
    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: mat.get-color-from-palette($Portfolio-accent);
        background-color: transparent;
        border-color: mat.get-color-from-palette($Portfolio-accent);
        border-width: 0px;
    }
    &.mat-primary {
        border-color: transparent;
    }
    &.mat-accent {
        color: mat.get-color-from-palette($Portfolio-accent);
    }
}

.mat-fab,
.mat-mini-fab {
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border-color: mat.get-color-from-palette($Portfolio-primary);
        border-width: 2px;
    }
}

// Other
.mat-chip-list {
    pointer-events: none;
}