.carousel-select {
    max-height: 50px;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
}

.carousel-arrow {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);;
        cursor: pointer;
    }
}