@import "bootstrap";

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    // &:hover {
    //     cursor: pointer;
    // }
}

.icon {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.divider {
    height: 1px;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-columns {
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(s) {
        column-count: 1;
    }
}
